@charset "UTF-8";


body{
    background-color: rgb(10, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
    h1{
        color: rgb(177, 2, 11);
    }
    h2{
        color: rgb(61, 4, 4);
    }
    p {
        color: rgb(4, 44, 1);
    }
}
